

  .inbox {
    max-width: 400px;
    margin: 50px auto;
    background: rgb(242, 245, 231);
    border-radius: 10px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
  }

  .title{
    text-align: center;
  }

  .item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0c0202;
  }

  .item:last-child {
    border-bottom: 0;
  }

  input:checked + p {
    
    text-decoration: line-through;
  }

  input[type="checkbox"] {
    margin: 20px;
  }
  

  p {
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    flex: 1;
    font-family:'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    border-left: 1px solid #bfd1ef;
    word-break:break-all;
  }

  .due{
    color: coral;
  }
  .edit{
    margin: 1px 8px;
    color: rgb(111, 165, 84);
  }

  .editSave, .cancel{
    margin-top: 8px;
    margin-bottom: 10px;
    margin-right: 5px;
    float: right;
  }

  .formcontainer{
    width: 80%;
    margin: 0 auto;
}