<div class="card">

    <div class="card-body">
      
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>

              <th>Id</th>
              <th>Description</th>
              <th>Due Date</th>
              <th></th>
              <th></th>
              
            </tr>
          </thead>
          <tbody *ngIf="tasks.length">
            <tr *ngFor="let task of tasks">
              
              <td>{{task.id}}</td>
              <td>{{task.description}}</td>
              <td >{{task.dueDate }}</td>
              <td><input type="checkbox" /></td>
              <td>
                <div  >
                    <button  type="button" 
                        class="btn btn-danger custom-width"
                        (click)="deleteTask(task.id)">Remove</button>
                </div>
              </td>
              <td>
                <button class="btn btn-outline-primary btn-sm">
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>
  
  <div 
       class="alert alert-danger">
    
  </div>
  <app-add-task></app-add-task>
