<!-- Activates Model for adding a task, will not show when editing task -->
<input
  class="btn btn-primary"
  id="addTask"
  value="{{'New Task' | translate}}"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#collapseCreateTask"
  aria-expanded="false"
  aria-controls="collapseCreateTask"
/>

<!--Model for adding task  -->
<div class="collapse" id="collapseCreateTask">
  <div class="card card-body">
    <div class="panel panel-default">
      <!--Form for adding task in Model -->
      <div class="formcontainer">
        <form
          [formGroup]="taskForm"
          (ngSubmit)="(saveTask)"
          class="form-horizontal"
        >
          <div class="row">
            <div class="form-group col-md-12">
              <label class="col-md-2 control-lable" for="description"
                >{{"Description" | translate}}</label
              >
              <div class="col-md-7">
                <input
                  type="text"
                  id="description"
                  class="form-control "
                  placeholder="{{'Enter a Description' | translate}}"
                  formControlName="description"
                />
                
          
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label class="col-md-2 control-lable" for="date">{{"Due Date" | translate}}</label>
              <div class="col-md-7">
                <input
                  type="date"
                  id="date"
                  class="form-control input-sm"
                  placeholder="{{'Enter a due date' | translate}}"
                  formControlName="dueDate"
                />
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="form-actions floatRight">
              <input
                type="submit"
                id="submitTask"
                value="{{'Add' | translate}}"
                class="btn btn-primary btn-sm"
                [title]="
                  taskForm.valid
                    ? 'Save entered data'
                    : 'Disable until form complete'
                "
                [disabled]="!taskForm.get('description').valid"
                (click)="saveTask()"
              />
              <button type="button" class="btn btn-warning btn-sm" (click)="reset()">
                {{"Reset" | translate}}
              </button>
            </div>
          </div>
          
        </form>
        
      </div>
    </div>
    <span class="alert alert-danger text-center"
          id="addAlert"
                    *ngIf="(taskForm.get('description').touched || taskForm.get('description').dirty) && !taskForm.get('description').valid">
                    {{"Enter a Description" | translate}}
                  </span>
  </div>
</div>
