<!--Model for adding task  -->
<div
  class="modal fade"
  id="modalCreateTask"
  tabindex="-1"
  aria-labelledby="addTaskLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addTaskLabel">
          {{ "New Task" | translate }}
        </h1>
      </div>
      <div class="model-body">
        <!--Form for adding task in Model -->
        <div class="formcontainer">
          <form
            [formGroup]="taskForm"
            (ngSubmit)="(saveTask)"
            class="form-horizontal"
          >
            
              <div class="mb-3">
                <label class="col-form-label" for="description">{{
                  "Description" | translate
                }}</label>
                
                  <input
                    type="text"
                    id="description"
                    class="form-control"
                    placeholder="{{ 'Enter a Description' | translate }}"
                    formControlName="description"
                  />
                </div>
                <span
          class="alert alert-danger text-center"
          id="addAlert"
          *ngIf="
            (taskForm.get('description').touched ||
              taskForm.get('description').dirty) &&
            !taskForm.get('description').valid
          "
        >
          {{ "Enter a Description" | translate }}
        </span>
              
            
            
              <div class="mb-3">
                <label class="col-form-label" for="date">{{
                  "Due Date" | translate
                }}</label>
                
                  <input
                    type="date"
                    id="date"
                    class="form-control input-sm"
                    placeholder="{{ 'Enter a due date' | translate }}"
                    formControlName="dueDate"
                  />
                </div>
              
            
            <br />
            <div class="row">
              <div class="form-actions floatRight">
                
                <button
                  type="button"
                  class="btn btn-warning btn-sm"
                  (click)="reset()"
                >
                  {{ "Reset" | translate }}
                </button>
              </div>
            </div>
          </form>
        </div>
        
      </div>
      <div class="model-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
        <input
                  type="submit"
                  id="submitTask"
                  value="{{ 'Add' | translate }}"
                  class="btn btn-primary "
                  [title]="
                    taskForm.valid
                      ? 'Save entered data'
                      : 'Disable until form complete'
                  "
                  [disabled]="!taskForm.get('description').valid"
                  (click)="saveTask()"
                />
      </div>
    </div>
  </div>
</div>
