<div class="card text-center">
  <!-- Login Form -->
  <form
    [formGroup]="loginForm"
    (ngSubmit)="(loginUser)"
    name="loginForm"
    class="form-signin"
  >
  <br>
    <h1 class="h3 mb-3 font-weight-normal">{{"Please sign in" | translate}}</h1>

    <label for="username" >{{"Username" | translate}}</label>
    <input
      id="username"
      name="username"
      ng-model="username"
      type="text"
      class="form-control"
      placeholder="{{'Username' | translate}}"
      required
      formControlName="username"
      autofocus
    />
   
    <label for="password" >{{"Password" | translate}}</label>
    <input
      id="password"
      name="password"
      ng-model="password"
      type="password"
      class="form-control"
      placeholder="{{'Password' | translate}}"
      required
      formControlName="password"
    />
    <br>
    <button
      class="btn btn-md btn-primary btn-block"
      id="submitLogin"
      type="submit"
      (click)="loginUser()"
    >
     {{"Sign in" | translate}}
    </button>
    <br>
    <br>
    <p class="alert alert-danger text-center" id="loginError" *ngIf="ifError">{{"Username or Password is incorrect" | translate}}</p>
  </form>
</div>
