<div class="reg-form">
  <h4>Create an Account</h4>

  <br />

  <!-- Start of register form -->
  <form
    [formGroup]="userForm"
    (ngSubmit)="(registerUser)"
    class="form-horizontal"
  >
    <input type="hidden" ng-model="ctrl.user.id" />
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-2 control-lable" for="username">Username</label>
        <div class="col-md-7">
          <input
            type="text"
            id="username"
            class="form-control input-sm"
            placeholder="Enter a Username"
            required
            formControlName="username"
          />
          <span class="text-danger" id="descriptionError" *ngIf="(userForm.get('username').touched || userForm.get('username').dirty) && !userForm.get('username').valid">Please enter username</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-2 control-lable" for="email">Email </label>
        <div class="col-md-7">
          <input
            type="email"
            id="email"
            class="form-control input-sm"
            placeholder="Enter an Email "
            required
            formControlName="email"
          />
          <span class="text-danger" *ngIf="(userForm.get('email').touched || userForm.get('email').dirty) && !userForm.get('email').valid">Please enter Email</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-2 control-lable" for="password">Password </label>
        <div class="col-md-7">
          <input
            type="password"
            id="password"
            class="form-control input-sm"
            placeholder="Enter Password "
            required
            formControlName="password"
          />
          <span class="text-danger" *ngIf="(userForm.get('password').touched || userForm.get('password').dirty) && !userForm.get('password').valid">Please enter a password</span>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="form-actions floatRight">
        <input
          type="submit"
          id="submitUser"
          value="Sign up"
          class="btn btn-primary btn-sm"
          [disabled]="!userForm.valid"
          (click)="registerUser()"
        />
      </div>
    </div>
  </form>
</div>
