<div class="card text-center ">
  <br>
  <h1 class="h3 mb-3 font-weight-normal">{{"Create an account" | translate}}</h1>

  <br />

  <!-- Start of register form -->

  <form
    [formGroup]="userForm"
    (ngSubmit)="(registerUser)"
    class="card-body"
  >
    <input type="hidden" ng-model="ctrl.user.id" />
    <div class="row">
      <div class=" col-md-12">
        <label class="col-md-12 " for="username">{{"Username" | translate}}</label>
        <div class="col-md-12">
          <input
            type="text"
            id="username"
            class="form-control input-sm"
            placeholder="{{'Enter a Username' | translate}}"
            required
            formControlName="username"
          />
          <span class="text-danger" id="descriptionError" *ngIf="(userForm.get('username').touched || userForm.get('username').dirty) && !userForm.get('username').valid">Please enter username</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class=" col-md-12">
        <label class="col-md-12 " for="email">{{"Email" | translate}} </label>
        <div class="col-md-12">
          <input
            type="email"
            id="email"
            class="form-control input-sm"
            placeholder="{{'Enter an Email' | translate}} "
            required
            formControlName="email"
          />
          <span class="text-danger" *ngIf="(userForm.get('email').touched || userForm.get('email').dirty) && !userForm.get('email').valid">{{"Please enter Email" | translate}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-12 " for="password">{{"Password" | translate}} </label>
        <div class="col-md-12">
          <input
            type="password"
            id="password"
            class="form-control input-sm"
            placeholder="{{'Enter Password' | translate}} "
            required
            formControlName="password"
          />
          <span class="text-danger" *ngIf="(userForm.get('password').touched || userForm.get('password').dirty) && !userForm.get('password').valid">Please enter a password</span>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="form-actions floatRight">
        <input
          type="submit"
          id="submitUser"
          value="{{'Sign up' | translate}}"
          class="btn btn-primary btn-sm"
          [disabled]="!userForm.valid"
          (click)="registerUser()"
        />
      </div>
    </div>
  </form>
</div>
